{% extends "base.html" %}
{% load static %}

{% block title %}Upload information{% endblock title %}
{% block css_file %}
    <link rel="stylesheet" href="{% static "aliance/upload.css" %}">

{% endblock css_file %}

{% block content %}
<div class="upload-area">
    <div class="header">
        <h1>Nahraj soubory s koncovkou .html</h1>
    </div>

    <div class="content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="drop-area">
                <p>Přetáhni soubor přehledu aliance nebo klepni na iconu pro vložení</p>
                {{ upload_file.ali_view}}
            </div>
            <div class="drop-area">
                <p>Přetáhni soubor detailu aliance nebo klepni na iconu pro vložení</p>

                {{ upload_file.ali_detail }}
            </div>
                <button>Nahrát</button>
        </form>
    </div>
</div>
<script src={% static "js/upload.js" %}></script>
{% endblock content %}
